<template>
	<div class="wrapper">
		<navbar></navbar>		
		<sidebar></sidebar>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<router-view></router-view>
		</div>
		<!-- /.content-wrapper -->
	</div>
	<!-- ./wrapper -->

</div>

</template>

<script>
	export default { 
		
	}
</script>