<template>
  <div class="sign-in-body" >
    <div class="text-center" style="margin:auto">
      <form class="form-signin" @submit.prevent="login({ email, password })" >
        <img class="mb-4" src="/admin-lte/img/AdminLTELogo.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email"v-model="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" v-model="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit"> <i v-if="isPending"  class="fa fa-login fa-refresh fa-spin"></i>Sign in</button>
        <div v-if="isError" class="alert alert-danger">
          <strong>Danger!</strong> {{messages}}
        </div>
        <p class="mt-5 mb-3 text-muted">LOGIN PAGES</p>
      </form>
    </div>
  </div>
</template>

<script>

  export default {
    data() {
      return {
        email: "",
        password: ""
      }
    },

    methods: {
      login() {
        var token     = atob(axios.defaults.headers.common['X-CSRF-TOKEN']);
        var Email     = enc.default.encode(this.email,token);
        var Password  = enc.default.encode(this.password,token);
        this.$store.dispatch("login", {
          email: Email,
          password: Password
        }).then(() => {
          this.$router.push("/")
        });
      },

    },

    computed: {
      isPending(){
        return this.$store.getters.isPending;
      },

      isError(){
        return this.$store.getters.isError;
      },

      messages(){
        return this.$store.getters.messages;
      },
    }

  }
</script>